<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AllowUnauthenticatedServices</key>
		<true/>
		<key>EnvironmentVariables</key>
		<dict>
			<key>LAUNCHD_SOCKET</key>
			<string>/private/var/tmp/launchd/sock</string>
		</dict>
		<key>Label</key>
		<string>com.apple.load_amfid</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/launchctl</string>
			<string>load</string>
			<string>/System/Library/LaunchDaemons/com.apple.MobileFileIntegrity.plist</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
</plist>
