# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
resources/payload.dmg
installer/installer
bins/aquila
cli/macos/aquila
/.vscode
cli/macos/aquila
untether/aquila
untether/.DS_Store
resources/.DS_Store
installer/.DS_Store
common/.DS_Store
cli/.DS_Store
cli/aquila
cli/macos/aquila
/payload/staging
payload/temp.dmg
payload/payload2_7.dmg
payload/payload1_7.dmg
payload/payload1.dmg
/resources/staging
untether/aquila
untether/aquila_4
untether/aquila_5_7
untether/aquila
untether/aquila
installer/installer_4
installer/installer_5_7
untether/aquila
untether/com.staturnz.aquila.deb
/untether/staging
