__payload_dmg RCDATA "../resources/payload.dmg"
__stock_dmg RCDATA "../resources/stock.dmg"
__signature RCDATA "../resources/stock.signature"
__bootstrap RCDATA "../resources/bootstrap.tar"
__truststore RCDATA "../resources/truststore.tar"
__safemode_5 RCDATA "../resources/safemode5.deb"
__substrate_5 RCDATA "../resources/substrate5.deb"
__launchd_conf RCDATA "../resources/launchd.conf"
__splashscreen RCDATA "../resources/splashscreen.jp2"
__amfi_6 RCDATA "../resources/amfi_bypass_6.dylib"
__amfi_4_5 RCDATA "../resources/amfi_bypass_4_5.dylib"
__tar RCDATA "../resources/tar"
__tar_4 RCDATA "../resources/tar_4"
__aquila RCDATA "../untether/aquila"
__installer RCDATA "../installer/installer"
