__stock_dmg RCDATA "../resources/stock.dmg"
__signature RCDATA "../resources/stock.signature"
__bootstrap RCDATA "../resources/bootstrap.tar"
__launchd_conf RCDATA "../resources/launchd.conf"
__splashscreen RCDATA "../resources/splashscreen.jp2"
__amfi_7 RCDATA "../resources/amfi_bypass_7.dylib"
__amfi_6 RCDATA "../resources/amfi_bypass_6.dylib"
__amfi_4_5 RCDATA "../resources/amfi_bypass_4_5.dylib"
__tar RCDATA "../resources/tar"
__tar_4 RCDATA "../resources/tar_4"
__truststore RCDATA "../resources/truststore.tar"
__safemode RCDATA "../resources/safemode.deb"
__substrate RCDATA "../resources/substrate.deb"
__aquila RCDATA "../untether/aquila_5_7"
__aquila_4 RCDATA "../untether/aquila_4"
__installer RCDATA "../installer/installer_5_7"
__installer_4 RCDATA "../installer/installer_4"
__payload1_7 RCDATA "../payload/payload1_7.dmg"
__payload2_7 RCDATA "../payload/payload2_7.dmg"
__payload_dmg RCDATA "../payload/payload1.dmg"
